@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    color: var(--color-secundario);
    display: block;
}

/*---------- variables Css ----------*/

.modoClaro {
    --alto-nav: 70px;

    --letra: rgb(30, 65, 100);
    --bg-principal:#eee;
    --bg-presentacion:rgb(210, 210, 220);
    --bg-card:#fff;

    --color-primario: rgb(30, 65, 100);
    --color-secundario: rgb(240, 160, 20);
    --color-hover: rgb(40, 75, 110);
    --color-titulos: rgb(30, 65, 100);

    --border-radius: 4px;

    --box-shadow: 0 0 5px 0 rgb(30, 65, 100,.3);

    --margen-secciones: 0 auto 5rem;

}

.modoOscuro{
    --letra: #fff;
    --bg-principal:rgb(0, 5, 30);
    --bg-presentacion:rgb(40, 75, 110);
    --bg-card:rgb(0, 45, 80);

    --color-primario: rgb(10, 45, 80);
    --color-secundario: rgb(240, 160, 20);
    --color-hover: rgb(40, 75, 110);
    --color-titulos: rgb(240, 160, 20);

}

.contenedorP{
    width: 100%;
    background-color: var(--bg-principal);
    color:var(--letra);   
}


/*---------- Clase generales ----------*/

.contenedor-90 {
    width: 90%;
    margin: 0 auto;
}

.presentacionSection{
    width: 100%;
    margin:var(--margen-secciones);
    padding: 6rem 0;
    background-color: var(--bg-presentacion);
    color:var(--letra);
}

.presentacionSection__titulo{
    color: var(--color-titulos);
    font-size: 2rem;
}

.presentacionSection__parrafo{
    font-size: 1.2rem;
}

.presentacionSection__textos{
    width:70%;
    margin:0 auto;
    display: grid;
    gap:1rem;
    text-align: center;
}

.card {
    width: 100%;
    /* background-color: var(--bg-card); */
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    color:var(--letra);
    background-color: var(--bg-card);
}

.card__cajaFoto {
    height: 250px;
    border-bottom: 4px solid var(--color-secundario);
}

.card__cajaTextos {
    display: grid;
    padding: 2rem;
    gap: 1rem;
}

.card__titulo {
    color: var(--color-titulos);
    font-size: 1.4rem;
    font-weight: normal;
}

.fa-angle-double-right{
    transition:all 0.3s;
}

.fa-angle-double-right:hover{
    text-shadow: 16px 0 var(--color-secundario),
                 32px 0  var(--color-secundario) ;
}



.soloTextos--oculto{
  transform: scaley(0);
  transition: all 0.3s;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color:var(--bg-card);
}

.soloTextos--visible{
transform: scaley(100%);
 transition: all 0.5s; 
}

/*---------- Botones ----------*/

.boton {
    width: 100px;
    padding: .6rem 1rem;
    margin: auto auto 2rem;
    color: #fff;
    background-color: var(--color-primario);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: solid 1px rgba(255, 255, 255, 0.1);
    font-variant: small-caps;
    transition: background-color .3s;
}

.boton:hover {
    background-color: var(--color-hover);
}

/*---------- Menú de navegación ----------*/

.nav {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-presentacion);
    box-shadow:var(--box-shadow);
}

.logo {
    font-size: 1.8rem;
    color: var(--letra);
}

.punto {
    color: var(--color-secundario);
}

.nav__link {
    color: var(--letra);
    font-size: 1.2rem;
    padding: 0 .2rem;
}

.nav__menu .nav__link {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-variant: small-caps;
    transition: all .3s;
}

.nav__menu .nav__link:hover {
    text-shadow: 0 -20px var(--color-secundario);
}

.nav__link--activo {
    border-bottom: 2px solid var(--color-secundario);
}

.nav__extras .nav__link {
    transition: color .3s;
}

.nav__extras .nav__link:hover {
    color: var(--color-secundario);
}

/*---------- Banner Pincipal ----------*/

.banner {
    position: relative;
    margin-top: var(--alto-nav);
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 5rem;
}

.banner__cajaVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(35, 50, 75, .3);
}

.banner__textos {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: calc(100vh - 70px);
    margin: 0 auto;
    z-index: 2;
    text-align: center;
}

.banner__titulo {
    font-size: 4rem;
    margin-top: 5rem;
    font-variant: small-caps;
}

.banner__parrafo {
    font-style: italic;
    font-size: 1.5rem;
    color: var(--color-secundario);
}

/*---------- Grid Noticias ----------*/

.noticias{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    gap:3rem;
    margin:var(--margen-secciones);
}

.card--1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.card--2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.card--3{
    grid-column: 3/4;
    grid-row: 3/4;
}